.button {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  padding: 12px;
  cursor: pointer;
}

.primary {
  background-color: #000;
  color: #fff;
}

.outline-secondary {
  background-color: transparent;
  border: 1px solid #000;
  color: #000;
  cursor: pointer;
  &:hover {
    background-color: #000;
    color: #fff;
    transition: all 0.3s ease;
  }
}

.danger {
  background-color: #ff0000;
  color: #fff;
}
