.auth {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  &__form {
    width: 40%;
    padding: 20px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 20px;
    &__title {
      font-size: 32px;
      margin-bottom: 10px;
      font-weight: 900;
      align-items: center;
      justify-content: center;
      display: flex;
    }
    &__error {
      color: red;
      font-size: 14px;
      font-weight: 700;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &__text {
    a {
      margin-left: 5px;
      text-decoration: none;
      color: #00b7ff;
    }
    margin-top: 10px;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
